<div class="main">
  <p class="pure-text">
  Slim is a template language whose goal is to reduce the view syntax to the essential parts without becoming cryptic. It started as an exercise to see how much could be removed from a standard html template (, , closing tags, etc...). As more people took an interest in Slim, the functionality grew and so did the flexibility of the syntax.
  </p>
  <p class="sup-text">
    <span>x<span><span>x<span> <span>x<span><span>x<span><span>x<span><span>x<span><span class="word-note">我</span><span class="word">你</span></p>
</div>
<style type="text/css">
  .main, .main p {width: 600px; text-align: left; text-indent: 2em;}
  .main { padding: 30px; margin: 0 auto; overflow: hidden; }
  p {line-height: 2; word-break: break-all}
  .note { background: red; width: 5px; height: 5px; left: 10px; position: absolute; }
</style>
<script type="text/javascript" src="js/index.js"></script>
