css:
  .slide img {
    width: 696px;
    height: 205px;
    display: inline-block;
  }
  .slide-wrap {
    margin-top: 20px;
    width: 696px;
    overflow: hidden;
  }
  .slide {
    width: 2784px;
  }
  .main {
    width: 696px;
    margin: 0 auto;
  }
  .footer {
    margin-top: 20px;
  }
div.main
  div.slide-wrap
    div.slide.top-left-slide
      img[src="pics/108.jpg"]
      img[src="pics/105.jpg"]
      img[src="pics/108.jpg"]
      img[src="pics/105.jpg"]
  div.slide-wrap
    div.slide.transition-slide
      img[src="pics/108.jpg"]
      img[src="pics/105.jpg"]
      img[src="pics/108.jpg"]
      img[src="pics/105.jpg"]
  div.footer
    button.btn-animation
      = "让我动！"
script[src="js/index.js"]
